<h1 id="info-header">Reading about: {{ songData.title }} by {{ songData.artist_names }}</h1>

<div *ngIf="renderDescription(songData) as description">
  <!--If else statement, if description is === show no desc message else show description block-->
  <div *ngIf="renderDescription(songData) === '?' else descriptionBlock" class="information-text">
    No description found for this song.
  </div>
  
  <ng-template #descriptionBlock>
    <div class="information-text">{{ renderDescription(songData) }}</div>
  </ng-template>
</div>

<iframe class="song-player" width="400" height="200" [src]="getApplePlayerUrl()"
  title="Apple Music player" frameborder="0"
  allow="autoplay; encrypted-media"
  allowfullscreen></iframe>
