#info-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-text{
    font-size: 18px;
    color: #1f2937;
}

.song-player-apple{
    margin-top: 25px;
}

.song-player-youtube{
    margin-top: 25pxpx;
}